{% extends "layout.html" %}
{% block body %}
<div class="am-container am-g">
	<div class="am-u-sm-8">
		<div class="am-panel am-panel-default am-u-sm-6">
		 	<div class="am-panel-hd">
		   		<h3 class="am-panel-title">用户昵称</h3>
		 	</div>
		 	<div class="am-panel-bd">
				<p>{{show_user.nickname}}{%if show_user.nameplate %}{{show_user.nameplate|safe}}{%endif%}</p>
			</div>

		 	<div class="am-panel-hd">
		   		<h3 class="am-panel-title">用户邮箱</h3>
		 	</div>
		 	<div class="am-panel-bd">
				<p>{{show_user.email}}</p>
			</div>
		</div>
		<div class="am-panel am-panel-default am-u-sm-6">
		 	<div class="am-panel-hd">
		 		<h3 class="am-panel-title">头像</h3>
		 	</div>
		 	<div class="am-panel-bd">
		 		<img src="{{show_user.get_gravatar_url(160)}}">
			</div>
		</div>
		<div class="am-panel am-panel-default am-u-sm-12">
		 	<div class="am-panel-hd">
		   		<h3 class="am-panel-title">个性签名</h3>
		 	</div>
		 	<div class="am-panel-bd">
				<p>{%if show_user.informatino%}{{show_user.information}}{%else%}泥萌看什么看，{{show_user.nickname}}什么都没有说{%endif%}</p>
			</div>
		</div>
	</div>
	<div class="am-u-sm-4">
		<div class="am-panel am-panel-default">
			<div class="am-panel-hd">一共通过了{{show_user.ac_num}}道题</div>
			<div class="am-panel-bd">
				{% for pid in ac_problems%}
				<a href="{{url_for('problem',problem_id=pid)}}">{{pid}}</a>
				{% endfor %}
	  		</div>
	  	</div>
	</div>
</div>
{% endblock %}